:root {
  --color-bg: #fff1e8;
  --color-header: #ff6400;
  --color-nav: #e17000;
  --color-hover: #008E0D;
  --color-text: #783001;
  --color-code-bg: #e3e2e2;
  --color-code-text: #000000;
  --color-code-box-shadow: #4d4d4d;
}

html,
body {
  color: var(--color-text);
  background-color: var(--color-bg);
  line-height: 1.5;
}

#navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 100%;
  border-right: solid;
  border-color: rgba(100, 20, 20, 0.8);
}

header {
  color: var(--color-header);
  margin: 10px;
  text-align: center;
  font-size: 2em;
  font-weight: 500;
}

p,
li,
code {
  margin: 2px;
  font-size: 1.2em;
}

#main-doc header {
  text-align: left;
  margin: 0px;
}

#navbar ul {
  height: 88%;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

#navbar li {
  color: var(--color-nav);
  list-style: none;
  position: relative;
  width: 100%;
}

#navbar a {
  display: block;
  padding: 10px 30px;
  color: var(--color-text);
  text-decoration: none;
  cursor: pointer;
}

#navbar a:hover {
  color: var(--color-hover);
}

#main-doc {
  position: absolute;
  margin-left: 310px;
  padding: 20px;
  margin-bottom: 110px;
}

section article {
  color: var(--color-text);
  margin: 15px;
  font-size: 0.96em;
}

section li {
  margin: 15px 0px 0px 20px;
}

code {
  display: block;
  text-align: left;
  white-space: pre-line;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  line-height: 2;
  color: var(--color-code-text);
  background-color: var(--color-code-bg);
  padding: 15px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 3px 3px 8px var(--color-code-box-shadow);
}

@media only screen and (max-width: 815px) {
  /* For mobile phones: */
  #navbar ul {
    border: 1px solid;
    height: 207px;
  }

  #navbar {
    background-color: white;
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 275px;
    border: none;
    z-index: 1;
    border-bottom: 2px solid;
  }

  #main-doc {
    position: relative;
    margin-left: 0px;
    margin-top: 270px;
  }
}

@media only screen and (max-width: 400px) {
  #main-doc {
    margin-left: -10px;
  }

  code {
    margin-left: -20px;
    width: 100%;
    padding: 15px;
    padding-left: 10px;
    padding-right: 45px;
    min-width: 233px;
  }
}
